/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
/* Variables Used in the doc */
/* end of variables */
/* Common Selectors */
p {
  font-size: 1.8rem;
  line-height: 1.2em;
}
/* Page Wrappe */
.wrapper {
  border: 1px solid gray;
  margin: 2rem auto;
  width: 80%;
  max-width: 90rem;
  padding: 2rem;
}
@media only screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
    border: none;
    padding: 0.2rem 0;
  }
}
/* Header with Menu */
#header {
  width: 100%;
  margin: 2rem;
}
#header #navigation {
  width: 100%;
}
#header #navigation .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  #header #navigation .nav-list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }
}
#header #navigation .nav-list .nav-item {
  font-size: 2rem;
  margin: 0 1.5rem;
  font-family: 'Shadows Into Light', cursive;
}
@media only screen and (max-width: 500px) {
  #header #navigation .nav-list .nav-item {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
  }
}
#header #navigation .nav-list a {
  text-decoration: none;
  color: blue;
}
/* end of header styling */
/* Introduction Section Styling */
.intro {
  background-color: #EAECEF;
  width: 100%;
  padding: 5rem 3rem;
}
.intro img {
  height: 40rem;
}
@media only screen and (max-width: 500px) {
  .intro img {
    width: 100%;
  }
}
.intro h1 {
  font-size: 10rem;
  font-family: 'Shadows Into Light', cursive;
  padding-left: 5rem;
  color: blue;
}
@media only screen and (max-width: 500px) {
  .intro h1 {
    font-size: 6rem;
    padding-left: 0;
    padding-top: 1.2rem;
    text-align: center;
  }
}
.intro h2 {
  font-size: 5rem;
  font-family: 'Shadows Into Light', cursive;
  padding-left: 5rem;
  padding-bottom: 1.5rem;
  color: pink;
}
@media only screen and (max-width: 500px) {
  .intro h2 {
    font-size: 5rem;
    padding-left: 0;
    padding-top: 1.2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .intro p {
    width: 95vw;
  }
}
.intro div.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-evenly;
  margin: 5rem 0 2rem 0;
  font-size: 3rem;
  line-height: 1.2em;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .intro div.contact {
    flex-direction: column;
    font-size: 2.5rem;
  }
  .intro div.contact h3 {
    padding: 1rem;
  }
}
/* Content Section */
.content {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 500px) {
  .content {
    grid-template-columns: 1fr;
    padding: 1.5rem 0.5rem;
  }
}
.content h1 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}
.content .skills {
  font-size: 2rem;
}
@media only screen and (max-width: 500px) {
  .content .skills {
    margin-top: 1.5rem;
  }
}
.content .skills ul {
  margin-left: 2rem;
}
@media only screen and (max-width: 500px) {
  .content .skills ul {
    margin-left: inherit;
  }
}
.content .skills ul li {
  border: 1px solid gray;
  padding: 2rem;
}
/* Work History */
.work {
  font-size: 2rem;
}
.work h1 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}
.work table {
  border-collapse: collapse;
  width: 100%;
}
.work th {
  font-weight: bold;
}
.work td,
.work th {
  border: 1px solid gray;
  text-align: left;
  padding: 1rem;
}
.work tr:nth-child(even) {
  background-color: #EAECEF;
}
@media only screen and (max-width: 500px) {
  .work {
    /* Hide Table Headers but no display: none for accessibility */
    /* make td behave likea  row */
  }
  .work table,
  .work thead,
  .work tbody,
  .work th,
  .work td,
  .work tr {
    display: block;
  }
  .work thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .work tr {
    border: 1px solid black;
    margin-top: 1rem;
  }
  .work td {
    border: none;
    border-bottom: 1px solid gray;
    position: relative;
    padding-left: 50%;
  }
  .work td:before {
    /* table header */
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    content: attr(data-th);
    width: 45%;
    padding-right: 1rem;
    white-space: nowrap;
    font-weight: bold;
    color: pink;
  }
}
/* Footer Section */
footer {
  margin-top: 5rem;
  padding: 3rem 0;
  text-align: center;
  background-color: pink;
}
